<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Factura</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    h1 {
      text-align: center;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    strong {
      font-weight: bold;
    }
    .total {
      text-align: right;
      margin-top: 20px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Factura</h1>
  
  <p><strong>Número de factura:</strong> {{numeroFactura}}</p>
  <p><strong>Fecha:</strong> {{fecha}}</p>
  <p><strong>Nombre:</strong> {{nombre}}</p>
  
  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {{#productos}}
      <tr>
        <td>{{nombre}}</td>
        <td>{{cantidad}}</td>
        <td>{{precio}}</td>
        <td>{{total}}</td>
      </tr>
      {{/productos}}
    </tbody>
  </table>
  
  <p class="total"><strong>Total:</strong> {{totalGeneral}}</p>
</body>
</html>